@import './normalize.css';
@import './fonts/fonts.css';

:root {
  --orange: #ff8420;
  --black: #383838;
  --loading: #d6d6d6;
}

* {
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: 0 auto;
}

::selection {
  background: var(--orange); /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: var(--orange); /* Gecko Browsers */
}